:root{
    --col-color: #006cfa;
}

[class*="container"]{
    margin-bottom: 2rem;
}

[class*="col"]{
    min-height: 2rem;

    padding: 7px;
    text-align: center;
    color: white;

    border: 1px solid white;
    background-color: var(--col-color);
}
[class*="col"] [class*="col"]{
    border: 1px solid var(--col-color);
    background-color: #00e265;
}
[class*="col"].tall{
    min-height: 4rem;
}
